<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Editar Prestamo</title>
    <style>
        body {
            background: rgb(52,86,50);
            background: radial-gradient(circle, rgba(52,86,50,1) 0%, rgba(60,93,53,1) 45%, rgba(122,173,115,1) 100%);
        }
        .card {
            margin: 0 auto; /* Centrar el card */
            float: none;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card bg-light mb-3" style="max-width: 50rem;">
            <div class="card-header">
                Modificar
            </div>
            <div class="card-body">
                <h1 class="mb-4">Prestamo</h1>
                <form action="/prestamo/edit/<%= prestamo._id %>" method="POST">
                    <div class="form-group">
                        <label for="prestamo_id">Prestamo ID</label>
                        <input type="number" class="form-control" name="prestamo_id" id="prestamo_id" value="<%= prestamo.prestamo_id %>" required>
                    </div>
                    <div class="form-group">
                        <label for="usuarioprestamo">Usuario Prestamo</label>
                        <input type="text" class="form-control" name="usuarioprestamo" id="usuarioprestamo" value="<%= prestamo.usuarioprestamo %>" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_visita">Fecha de visita</label>
                        <input type="date" class="form-control" name="fecha_visita" id="fecha_visita" value="<%= prestamo.fecha_visita.toISOString().split('T')[0]  %>" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionprestamo">Descripcion</label>
                        <input type="text" class="form-control" name="descripcionprestamo" id="descripcionprestamo" value="<%= prestamo.descripcionprestamo %>" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="/prestamo" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
