<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Autores</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-book"></i>
          </div>

      <!-- Divider -->
      <hr class="sidebar-divider" />

<!-- ENLACES CRUD ===========================================================================================================-->
      <!-- Heading -->
              <!-- Heading -->
              <div class="sidebar-heading">Interface</div>

              <!-- Nav Item - ESPECIES -->
              <li class="nav-item">
     
               <a class="nav-link" href="/libros">
                 <i class="fas fa-bookmark"></i>
                 <span>Libros</span></a
               >
             </li>
               
             <li class="nav-item">
                 <a class="nav-link" href="/generos">
                   <i class="fas fa-list"></i>
                   <span>Generos</span></a
                 >
               </li>
     
               <li class="nav-item">
                 <a class="nav-link" href="/autores">
                   <i class="fas fa-pen"></i>
                   <span>Autores</span></a
                 >
               </li>
               
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">
              <i class="fas fa-user"></i>
              <span>Usuarios</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prestamos">
              <i class="fas fa-inbox"></i>
              <span>Prestamos</span></a
            >
          </li>

    </ul>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Grupo 4</span>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Autores</h1>
              <a href="/autores/new" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Agregar nuevo autor
              </a>
            </div>
            <!-- Search bar for filtering authors -->
            <div class="form-group">
              <input type="text" id="searchInput" class="form-control" placeholder="Buscar por nombre..." onkeyup="AuthorFilter()" />
            </div>

            <!-- Table of authors -->
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>autor_id</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Nacionalidad</th>
                  <th>Fecha nacimiento</th>
                  <th>Biografía</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody id="autorList">
                <% autores.forEach(Autor => { %>
                  <tr data-name="<%= Autor.nombre %>">
                    <td><%= Autor.autor_id %></td>
                    <td><%= Autor.nombre %></td>
                    <td><%= Autor.apellido %></td>
                    <td><%= Autor.nacionalidad %></td>
                    <td><%= Autor.fechaNacimiento %></td>
                    <td><%= Autor.biografia %></td>
                    <td>
                      <a href="/autores/edit/<%= Autor._id %>" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> Editar
                      </a>
                      <form action="/autores/delete/<%= Autor._id %>" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">
                          <i class="fas fa-trash"></i> Eliminar
                        </button>
                      </form>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2024</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
    <script>
      // Function to filter authors
      function AuthorFilter() {
        var input = document.getElementById('searchInput');
        var filter = input.value.toLowerCase();
        var ul = document.getElementById('autorList');
        var li = ul.getElementsByTagName('tr');

        for (var i = 0; i < li.length; i++) {
          var autorItem = li[i];
          var autorName = autorItem.getAttribute('data-name');
          var matchesName = autorName && autorName.toLowerCase().indexOf(filter) > -1;

          if (matchesName) {
            autorItem.style.display = ''; // Show the item
          } else {
            autorItem.style.display = 'none'; // Hide the item
          }
        }
      }
    </script>
  </body>
</html>
