<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Editar Autor</title>
    <style>
        body {
            background: rgb(255,69,69);
            background: linear-gradient(90deg, rgba(255,69,69,1) 0%, rgba(255,156,115,1) 35%, rgba(252,245,150,1) 100%);
        }
        .card {
            margin: 0 auto; /* Centrar el card */
            float: none;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card bg-light mb-3" style="max-width: 50rem;">
            <div class="card-header">
                Modificar
            </div>
            <div class="card-body">
                <h1 class="mb-4">Autor</h1>
                <form action="/autores/edit/<%= autor._id %>" method="POST">
                    <div class="form-group">
                        <label for="autor_id">Autor Id</label>
                        <input type="number" class="form-control" name="_id" id="autor_id" value="<%= autor.autor_id %>" required>
                    </div>

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" value="<%= autor.nombre %>" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apellido" value="<%= autor.apellido %>" required>
                    </div>

                    <div class="form-group">
                        <label for="nacionalidad">Nacionalidad</label>
                        <input type="text" class="form-control" name="nacionalidad" id="nacionalidad" value="<%= autor.nacionalidad %>" required>
                    </div>

                    <div class="form-group">
                        <label for="fechaNacimiento">Fecha Nacimiento</label>
                        <input type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento" value="<%= autor.fechaNacimiento %>" required>
                    </div>

                    <div class="form-group">
                        <label for="biografia">Biografia</label>
                        <input type="text" class="form-control" name="biografia" id="biografia" value="<%= autor.biografia %>" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="/autores" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
